.home-section {
  margin-top: 8rem;
  padding: 3rem 6rem;
}
.home-section h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.hero-content input {
  width: 200%;
  height: 30px;
  padding: 2rem;
  border: 2px dotted #ddd;
  border-radius: 5px;
}
.hero-content input[type="file"]::file-selector-button {
  background-color: var(--color-primary);
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
}
.hero-uploads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.hero-content-right {
  display: flex;
  flex-direction: column;
  color: #aaa;
  width: 100%;
  gap: 1rem;
}
.hero-content-right button {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
}
.fellings-spans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fellings-spans p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.fellings-spans p span {
  color: #fff;
  font-size: 1.3rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  place-content: center;
  align-items: center;
  transition: 300ms ease;
}
.fellings-spans p span:hover {
  transform: scale(1.05);
}
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media screen and (max-width: 916px) {
  .hero-uploads {
    width: 85%;
  }
  .home-section {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 550px) {
  .hero-uploads {
    flex-direction: column;
  }
  .hero-content input {
    width: 90%;
  }
  .hero-uploads {
    padding: 1rem 2rem;
  }
  .fellings-spans {
  }
}
